.message-row {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

.reactivate-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-logo {
    padding-top: 10px
}

.message-row-text {
    margin-bottom: 10px;
}

.reactivate-btn-container {
    width: 42%;
}